<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ml-2" href="#">HireHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <div class="container mt-5">
      <div class="jumbotron" style="background-image: url('https://wallpapercave.com/wp/wp7558563.png'); background-size: cover; background-position: center; height: 480px;">
        <div class="content-overlay offset-md-1">
          <h1 class="display-4">Welcome to HireHub</h1>
          <p class="lead">The website for applicants who want to work at Nityo InfoTech.</p>
        </div>
      </div>
    </div>
  </section>     

  <section>
    <div class="container">
      <div class="jumbotron" style="background-image: url('https://wallpaperaccess.com/full/1980359.jpg'); background-size: cover; background-position: center; height: 650px; position: relative;">
        <div class="row h-100">
          <div class="col-md-5 offset-md-6 d-flex flex-column justify-content-center align-items-end">
            <h6 class="display-6">Our Services</h6>
            <p class="lead text-black">This website will act as a bridge for Nityo InfoTech applicants and it will also provide some information about the company and the careers it offers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section>
    <div class="container">
      <div class="jumbotron" style="background-image: url('https://wallpapercave.com/wp/wp8695672.jpg'); background-size: cover; background-position: center; height: 500px; position: relative;">
        <div class="row h-100">
          <div class="col-md-5 offset-md-1 d-flex flex-column justify-content-center align-items">
            <h6 class="display-6">Contact Us</h6>
            <p class="lead text-black">Email: getintouch@nityo.com</p>
            <p class="lead text-black">Contact Number: +16097995959</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-black">© 2023 HireHub. All rights reserved.</span>
    </div>
  </footer>